page-estimate {

.bigfont {
    font-size: 50px;
}

.scroll-content {
        height: 100%
      }
 
      #map {
        width: 100%;
        height: 50%;
      }
.background {
  background: url(../assets/images/bBlue.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
}
