<ion-content>
  <ion-grid fixed="70px">
    <estimate-card *ngIf="show_estimate" estimate="est"> </estimate-card>
    <pincode-card *ngIf="show_pincode_card" (location)="setLocation($event)"> </pincode-card>
    <div #map id="map" class="map" [hidden]="!show_map"></div>
    <property-type-card *ngIf="show_type_card" (propertyType)="propertyTypeSelected($event)"> </property-type-card>
    <property-vitals *ngIf="show_vitals_card" (vitals)="updateVitals($event)"> </property-vitals>
    <ion-list no-lines>
      <ion-item>
        <button item-left ion-button outline padding (click)="prev()" *ngIf="!show_pincode_card"> {{back}} </button>
        <button item-right ion-button outline padding (click)="next()" *ngIf="show_continue"> {{continue}}  </button>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>